<footer class="footer">
  <img src="assets/LogoSimSave.svg" alt="SimSave logo" class="logo">

  <div class="icons">
    <div class="icon">
      <img src="assets/facebook.svg" alt="Facebook">
    </div>
    <div class="icon">
      <img src="assets/twitter.svg" alt="Twitter">
    </div>
    <div class="icon">
      <img src="assets/linkedin.svg" alt="Linkedin">
    </div>
    <div class="icon">
      <img src="assets/youtube.svg" alt="Youtube">
    </div>
    <div class="icon">
      <img src="assets/instagram.svg" alt="instagram">
    </div>
  </div>

  <div class="contact">
      <div class="icon">
        <img src="../../../assets/email.svg" alt="email">
      </div>
    <div class="body">
      <h2>Fale Conosco</h2>
      <p>Dúvida, crítica, sugestão ou elogio? Envie um e-mail para suporte@simsave.com.br</p>
    </div>
  </div>
</footer>
