<div class="login">
  <div class="wrapper">
    <img src="assets/LogoSimSave-white.svg" alt="SimSave logo">

    <div class="login-container">
      <h2>Entrar na plataforma</h2>
      <p>Digite seu e-mail e senha abaixo para entrar na plataforma.</p>

      <form>
        <input type="text" placeholder="Nome">
        <input type="text" placeholder="Senha">
      </form>

      <button type="submit" mat-raised-button color="primary" [routerLink]="['/']">ENTRAR</button>
    </div>
  </div>
</div>
