.cards {
  display: grid;
  justify-content: center;

  margin-top: 2.5rem;

  grid-template-columns: repeat(auto-fit, 35rem);
  grid-template-rows: repeat(auto-fit, 35rem);

  grid-gap: 3rem;
  background-color: #F6F6F9;

  .card {
    border-radius: 1rem;
    background-color: #FFFFFF;
    border: 1px solid #ebebeb;

    *:not(.point) {
      padding: 2rem;
      display: flex;
      justify-content: center;
    }

    .point {
      width: 5rem;
      height: .8rem;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      margin: 0 auto;

      &--1 {
        background-color: #F11516;
      }

      &--2 {
        background-color: #1767E5;
      }

      &--3 {
        background-color: #6B41E9;
      }

      &--4 {
        background-color: #35DB93;
      }
    }

    h2 {
      font-size: 2.8rem;
    }

    &--1 {
      h2 {
        color: #F11516;
      }
    }

    &--2 {
      h2 {
        color: #1767E5;
      }
    }

    &--3 {
      h2 {
        color: #6B41E9;
      }
    }

    &--4 {
      h2 {
        color: #35DB93;
      }
    }


    p {
      font-size: 1.6rem;
      text-align: center;
    }

    button {
      width: 13.5rem;
      height: 3.5rem;

      align-items: center;
      border-radius: .2rem;
      border: 1px solid #E0E0E0;
      background-color: #fff;
      color: #878787;

      &.active {
        color: red;
      }

      font-weight: 500;
    }
  }

}
